<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Form Submission</title>
</head>
<body>
    
    <h1><b>Enter your Details</b></h1>
    <form action="/submit" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br>

        <label>Email:</label>
        <input type="email" name="email" required><br>

        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>