body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e2725b;
    padding:20px;
}

h1{
    color: #fff;
    text-align: center;
}

form{
    background: #fff;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(179, 173, 173, 5);
}

label{
    margin-top: 10px;
    display: block;
}

input{
    width: 80%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    background-color: #e2725b;
    color: #fff;
    font-weight: bolder;
    border-radius: 6px;
}

#message{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
